.footer {
    padding: 64px 16px;
    text-align: center;
    &-list {
        font-size: 30px;        
    }
    a {
        color: rgba(0, 0, 0, 0.6);
        text-decoration: none;
        margin: 24px;
    }
}